/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Ubuntu:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: pink (255, 20, 210, 0.844)
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 17, 17);
    font-family: 'Kanit', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: pink (190, 0, 0, 0.382);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width:365px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: blue;
    
}
    